@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", serif;
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height:  85vh;
}

nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    z-index: 99;
    padding: 0vw 10vw;
    flex-wrap:wrap;

}
nav a, i{
    color: white;
    font-size: 1.5vw;
}

#center{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3vw;
    flex-wrap:wrap;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(Assets/bg.png);
    flex-wrap:wrap;
    
}
.header h1{
    font-size: 18vw;
    color: white;

}
#Chocolate {
    position: absolute;
    top: 8%;
    left: 42%;
    width: 25%;
    z-index: 1;
    transition: all cubic-bezier(0.19,1,0.22,1)0.5s;

}
#can{
    position: absolute;
    width: 35%;
    z-index: 2;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#chocolate2{
    position: absolute;
    top: 70%;
    right: 35%;
    width: 15%;
    z-index: 3;
    transition: all cubic-bezier(0.19,1,0.22,1)0.5s;
}
#almond{
    position: absolute;
    top: 10%;
    left: 5%;
    width: 7%;
    z-index: 3;
    transform: rotate(60deg);
    transition: all cubic-bezier(0.19,1,0.22,1)0.5s;
}
#almond2{
    position: absolute;
    top: 70%;
    left: 80%;
    width: 10%;
    z-index: 3;
    transform: rotate(-90deg);
    transition: all cubic-bezier(0.19,1,0.22,1)0.5s;
}
.about{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(90deg,#a9774e,#864831,#402014);
flex-wrap:wrap;
}
.about-left,.about-right{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    width: 50%;
    height: 100%;
    flex-wrap:wrap;

}
.about-left img{
    margin-top: 45vh;
    width: 90%;
    transform: rotateX('50deg');
}
.about-right h1{
    font-size: 5vw;
    color: white;
}
.about-right p{
    font-size: 1vw;
    width: 80%;
    color: white;
}
product{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
flex-wrap:wrap;
}
.product img{
    width: 100%;
    height: 100%;
}
